[user]
    name = Oakley Reid
    email = oakreid@gmail.com
    signingkey = ~/.ssh/id_ed25519.pub
[commit]
    gpgsign = true
[gpg]
    format = ssh
[core]
    editor = vim
    sharedRepository = group
[pull]
    rebase = false
[alias]
    amend = commit --amend -S --no-edit
    supdate = submodule update --recursive
    hist = log --pretty='%C(yellow)%h%Creset %s %Cblue%an%Creset'
